.day-cal-grid {
    display: grid;
    grid-template-columns: 8px 1fr;
    height: 1152px;
}

.nav-grid-day {
    position: relative;
    display:grid;
    width: 100%;
    grid-template-columns: 46px;
    grid-template-rows: auto 24px;
    padding-left: 8px;
    padding-right: 8px;
}

.week-day {
    padding-left: 14px;
}
