.calendar-grid {
  grid-template-columns: repeat(7, 1fr);
  display:grid;
  flex-grow: 1;
}

.weekDay {
  text-align: center;
  padding-top: 10px;
  color: var(--text-body);
  border-left: 1px solid var(--border);
  font-weight: 500;
}

.assignment {
  display:flex;
  justify-content: space-between;
  width: 95%;
  background-color: var(--highlightHoliday);
  margin-top: 0.5rem;
  padding: 0.25rem;
  border-radius: 4px;
  color: white;
  text-align: left;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    &:hover {
      scale: 1.05;
      transition: all 1500 ease-in-out;
    }

  }
}