*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--background-primary);
  font-family: 'Roboto', sans-serif;
  color: var(--text-main);
  height: 100vh;
  font-size: 12px;
  overflow-y: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calendar-main {
    display:flex;
    flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
.overlay {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 2;  
}

.dark {
  background-color: black;
  opacity: 0.4;
  z-index: 3;
}

.btn {
  background-color: var(--background-primary);
  border: 1px solid var(--border) ;
  padding: 0.25rem;
  font-size: 12px;
  border-radius: 0.25rem;
  cursor: pointer;
  &:hover {
      background-color: var(--hover-main);
  }
}

.btn-big {
  background-color: var(--background-primary);
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  &:hover {
      background-color: var(--hover-main);
  }
}

.btn-main {
  background-color: var(--main-focus);
  color: var(--background-primary);
  &:hover {
      background-color: var(--hover-main-focus);
  }
}

.btn-round {
  padding: 0.5rem;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: var(--hover-past);
  }
  position: relative;
}

.btn-effect:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
  opacity: 0;
  transition: all 0.5s;
  z-index: 4;
  background-color: var(--text-body);
  scale: 1;
}

.btn-effect:focus{
  background-color: var(--hover-main);
}

.btn-effect:active:after {
  background-color: none;
  scale: 0;
  opacity: 1;
  transition: 0s;
}

.box-hover {
  cursor: default;
  position: absolute;
  color: white;
  line-height: 16px;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  background-color: var(--hover-info);
  border-radius: 2px;
  font-size: 11px;
  top:0;
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease-in-out;
}