body {
    --background-primary: rgb(255, 255, 255);
    --box-primary: rgb(86, 86, 86);
    --text-main: rgb(60, 64, 67);
    --text-body: rgb(139, 143, 147) ;
    --border: rgb(218, 220, 224);
    --highlightEvent : rgb(3, 155, 229);
    --highlightTask: rgb(66, 133, 244);
    --highlightHoliday: rgb(11, 128, 67);
    --highlightTime: rgb(213, 0, 0);
    --main-focus: rgb(26, 115, 232);
    --secondary-focus: rgb(210, 227, 252);
    --hover-main: rgba(0, 0, 0, 0.1);
    --hover-main-focus: rgb(26, 104, 206);
    

    @include whenDark {
    --background-primary: #222222;
    --box-primary: #565656;
    --box-secondary: #56565630;
    --text: #FFFFFF;
    --border: #FFFFFF;
    }
}

