.view-dropdown {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    gap: 1rem;
    width: 90px;
    align-items: center;
    outline: 1px solid var(--border);
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    &:hover {
        background-color: var(--hover-main);
    }
}

.dropdown {
    position: absolute;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    z-index: 5;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(60,64,67,.3), 0 4px 8px 3px rgba(60,64,67,.15);
    list-style-type: none;
    li {
        &:hover {
            background-color: var(--hover-main);
        }
        a {
            display: flex;
            padding: 9px 16px;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            div:nth-child(2) {
                color: var(--text-body);
                width: 13px;
                height: 19px;
                text-align: center;
            }
        }
    }
}