.dropdown {
    position: absolute;
    top: 45px;
    left: 0;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    z-index: 5;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(60,64,67,.3), 0 4px 8px 3px rgba(60,64,67,.15);
    list-style-type: none;
    li {
        &:hover {
            background-color: var(--hover-main);
        }
        display: flex;
        padding: 9px 16px;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }
}

.dropdown-container {
    display:inline-flex;
    place-content: center;
    font-family: 'Roboto', sans-serif;
    gap: 1rem;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    padding: 0.75rem 0.5rem;
    border-radius: 0.25rem;
    justify-content: space-between;
    align-items: center;
    &:hover {
        background-color: var(--hover-main);
    }
}

.dropdown-highlight {
    background-color: rgba(174, 203, 250, 0.4);
    &:hover {
        background-color: rgba(174, 203, 250, 0.7)!important;
    }
}

.repeat-dropdown {
    width: 250px;
}

.timeframe-dropdown {
    width: 200px;
    top: 30px;
    cursor: pointer;
    max-height: 175px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width:6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color:var(--border);
        border-radius: 8px;
        height: 35px;
        border: none;
    }
    &:hover::-webkit-scrollbar-thumb {
        background-color: rgb(177, 180, 186);
    }
}

.view-dropdown-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    gap: 1rem;
    width: 90px;
    align-items: center;
    outline: 1px solid var(--border);
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    &:hover {
        background-color: var(--hover-main);
    }
}

.view-dropdown {
    position: absolute;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    z-index: 5;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(60,64,67,.3), 0 4px 8px 3px rgba(60,64,67,.15);
    list-style-type: none;
    li {
        &:hover {
            background-color: var(--hover-main);
        }
        a {
            display: flex;
            padding: 9px 16px;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            div:nth-child(2) {
                color: var(--text-body);
                width: 13px;
                height: 19px;
                text-align: center;
            }
        }
    }
}

.notification-dropdown {
    width: 160px;
}