.closed {
    margin-left: -255px;
    transition: margin 300ms ease-in-out;
}

.open {
    margin-left: 0;
    transition: margin 300ms ease-in-out;
}

.sidebar {
    width: 265px;
    padding: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    flex-shrink: 0;
}
