.email-valid {
    width: 80%;
    padding: 0.5rem 0;
    z-index: 5;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
    div {
        gap:0.25rem;
        cursor: pointer;
        display:flex;
        align-items: center;
        padding: 0.5rem;
        font-weight: bold;
        flex-grow:1;
        background-color: var(--hover-main);
        span {
            max-width: 285px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.email-invalid {
    width: 150px;
    text-align: center;
    position: absolute;
    left:25%;
    top: 100%;
    margin-top: 3px;
    padding: 0.5rem;
    z-index: 5;
    background-color: rgb(60, 64, 67);
    color: white;
    border-radius: 0.25rem;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
}

.guest-list {
    display: flex;
    div {
        flex-grow: 1;
    }
}

.guest-list-items {
    display: flex;
    max-width: 350px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        background-color: var(--hover-main);
    }
    border-radius: 0.25rem;
    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        span {
            max-width: 250px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}