.event-add {
    background-color: var(--background-primary);
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.25);
    z-index: 3;
    position: absolute;
    border-radius: 0.25rem;
    width: 448px;
    min-height: 450px;
}

#form-title {
    grid-column-start: 2;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 22px;
    color: var(--text-main);
    letter-spacing: 0.5px;
    width:370px;
    border: none;
    border-bottom: 1px solid var(--border);
}

.form {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    font-family: 'Open Sans';
    padding: 0.5rem 1rem
}

.form-dock {
    display: flex;
    justify-content: space-between;
    padding:0.5rem 1rem;
    align-items: center;
    background-color: rgb(241, 243, 244);
}

.input-shell {
    position: relative;
    display: flex;
    div {
        display:flex;
        align-items: center;
    }
    .text-input {
        width: 100%;
        &:hover {
            background-color: var(--hover-main);
            cursor: pointer;
        }
}}

.text-input {
    font-size: 14px;
    padding: 0.75rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    z-index: 0;
    position: relative;
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: var(--text-body);
    } 
}

.icons {
    display: flex;
    justify-content: center;
}

.event-type {
    display: flex;
    justify-content: left;
    grid-column-start: 2;
    gap: 0.5rem;
    button {
        background-color: var(--background-primary);
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;
        border: none;
        text-align: center;
        font-size: 0.875rem;
        color: var(--text-body);
        cursor: pointer;
        &:focus {
            color: var(--main-focus);
            background-color: var(--secondary-focus)!important;
            font-weight: bold;
        }
    }

}

.dropdown-input {
    display: flex;
    width: fit-content;
    padding-right: 0.5rem;
    border-radius: 0.25rem;
    justify-content: left;
    align-items: center;
    &:hover {
        background-color: var(--hover-main);
    }
}

.color-switch {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
}

.color-form {
    background-color: white;
    display: grid!important;
    position: absolute;
    place-items: center;
    left:81px;
    top:10px;
    width: 64px;
    height: 170px;
    padding: 5px;
    z-index: 3;
    box-shadow: 0 1px 3px 0 rgba(60,64,67,.3), 0 4px 8px 3px rgba(60,64,67,.15);
    border-radius: 4px;
    cursor: default;
    grid-template-columns: 1fr 1fr ;
    input[type="checkbox"] {
        appearance: none;
        margin:0;
        color: hsl(236, 33%, 92%);
        width: 1.25rem;
        height: 1.25rem;
        border: 0.1rem solid hsl(236, 33%, 92%);
        border-radius: 50%;
        display: grid;
        place-content: center;
        cursor: pointer;
    }
    
    input[type="checkbox"]::before {
        content: "";
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background:linear-gradient(to right, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
        clip-path: polygon(78% 24%, 50% 59%, 29% 48%, 23% 55%, 51% 74%, 83% 32%, 51% 12%, 100% 0, 100% 100%, 0 100%, 1% 0, 100% 0);
      }
}

