.event-add {
    background-color: var(--background-primary);
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.25);
    max-height: 830px;
    min-width: 480px;
    letter-spacing: 0.35px;
    font-family: 'Roboto';
    z-index: 3;
    position: absolute;
    border-radius: 0.25rem;
    overflow-y: visible;
}

.form {
    max-height: 700px;
    &::-webkit-scrollbar-track-piece:end {
        margin-bottom: 5px;
    }
    &::-webkit-scrollbar-track-piece:start {
        margin-top: 5px;
    }
    &::-webkit-scrollbar {
        width:6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color:var(--border);
        border-radius: 8px;
        border: none;
    }
    &:hover::-webkit-scrollbar-thumb {
        background-color: rgb(177, 180, 186);
    }
}

.form-border {
    border-top: 1px solid var(--border);
}

.form-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    padding: 0.5rem 1rem 0 1rem;
    row-gap: 4px;
    align-items: start;
}

.input-shell {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 41px;
    .text-input {
        &:hover {
            background-color: var(--hover-main);
            cursor: pointer;
        }
    }
}

.form-dock {
    display: flex;
    &:hover {
        cursor: move;
    }
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    background-color: rgb(241, 243, 244);
}

.div-flex {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    padding-top: 12px;
    justify-content: center;
}

.event-type {
    display: flex;
    justify-content: left;
    grid-column-start: 2;
    gap: 0.5rem;
    button {
        background-color: var(--background-primary);
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;
        border: none;
        text-align: center;
        font-size: 0.875rem;
        color: var(--text-body);
        cursor: pointer;
        &:focus {
            color: var(--main-focus);
            background-color: var(--secondary-focus)!important;
            font-weight: bold;
        }
    }

}

.dropdown-input {
    display: flex;
    width: fit-content;
    padding-right: 1rem;
    border-radius: 0.25rem;
    justify-content: left;
    align-items: center;
    &:hover {
        background-color: var(--hover-main);
    }
}

.form-footer {
    justify-content: right;
    background-color: var(--background-primary);
    padding: 0.5rem;
    gap: 0.5rem;
}