.box {   
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    text-align: center;
    padding: 0.25rem 0rem;
    text-shadow: 0px 0px 1px rgba(26,115,232,0.2);  
    user-select: none;
  }
  
.empty {
    color: var(--text-body)!important;
}
  
.today {
    color: white;
    background-color: var(--main-focus);
    border-radius: 50%;
    display: inline-block;
    width: 4ch!important;
    height: 4ch;
    line-height: 1.1rem;
    &:hover {
      background-color: var(--hover-main-focus)!important;
    }
}
  
.dayIndex {
    display: inline-block;
    width: 3ch;
    padding: 0.25rem;
    cursor: pointer;
    &:hover {
      background-color: var(--hover-main);
      border-radius: 50%;
    }
}
  
