.year-grid {
    padding-top: 14px;
    padding-bottom: 140px;
    padding-left: 5.125rem;
    column-gap: 200px;
    row-gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    font-size: 14px;
    font-family: 'Open Sans';
    flex-grow: 1;
}

.mini-calendar-grid-year {
    grid-template-columns: repeat(7,1fr);
    display:grid;
    width: 260px;
    text-align: center;
    height: 196px;
    div {
        font-size: 12px;
        font-weight: 400;
        
    }
}

.year-month {
    padding-left: 14px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.prevm {
    color: var(--text-body);
}

.current-month-year-view {
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    border-radius: 0.5rem;
}